{{#section 'headscript'}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
<link rel="stylesheet" href="/css/cssAdmin/dataTables.bootstrap5.min.css" />


{{/section}}
{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{{/section}}
{{#section 'js'}}

<script src="/js/jsAdmin/bootstrap.bundle.min.js"></script>
<script src="/js/jsAdmin/jquery-3.5.1.js"></script>
<script src="/js/jsAdmin/jquery.dataTables.min.js"></script>
<script src="/js/jsAdmin/dataTables.bootstrap5.min.js"></script>
//
<script src="/js/jsAdmin/script.js"></script>
{{/section}}


<div class="container-fluid my-5">
    <div class="row mb-3">
        <div class="col-md-3 ">
            <div class="card mb-3 border">
                    <h4 class="card-header">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        Quản lý bài viết
                    </h4>
                    <div class="list-group list-group-flush">                        
                        <a href="/writer"
                            class="list-group-item list-group-item-action ">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            Chưa duyệt 
                            {{!-- {{#if ProductCount --}}
                            {{!-- <span class="badge badge-pill badge-danger float-right">{{ProductCount</span> --}}
                            {{!-- {{/if --}}
                        </a>                       
                        <a href="/writer/rejected"
                            class="list-group-item list-group-item-action {{#if rejected}}active{{/if}}">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            Bị từ chối                           
                        </a>                       
                        <a href="/writer/pending"
                            class="list-group-item list-group-item-action ">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            Chờ xuất bản                           
                        </a>                       
                        <a href="/writer/published"
                            class="list-group-item list-group-item-action ">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            Đã xuất bản                       
                        </a>                       
                    </div>
                </div>
        </div>
        <div class="col-md-9 ">
            <div class="card border-dark">
                <div class="card-header bg-dark text-white d-flex justify-content-between">
                    <h4 class="text-white"><span><i class="bi bi-table me-2"></i></span> Danh sách bài viết</h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="data-writerPostRejected-table table table-hover table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên Bài Viết</th>
                                    <th scope="col">Chuyên mục</th>                                    
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">Lí do</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each articles}}
                                    <tr>
                                        <th scope="row">{{id}}</th>
                                        <td>{{title}}</td>
                                        <td>{{cat_title}} {{#if parent_title}} - ({{parent_title}}){{/if}}</td>
                                        
                                        <td>
                                            <a name="" id="" class="btn btn-primary btn-sm" href="/editArticle/{{id}}"
                                                role="button" title="Edit">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </td>

                                        <td>
                                            <form action="/rejectReason" method="post">
                                                 <input type="hidden" name="editor_id" value={{editor_id}}></input>
                                                 <input type="hidden" name="title" value="{{title}}"></input>
                                                 <input type="hidden" name="category" value="{{cat_title}}"></input>
                                                 <input type="hidden" name="parent_title" value="{{parent_title}}"></input>
                                                 <input type="hidden" name="rejectedReason" value="{{reject_reason}}"></input>
                                                <button type="submit" class="btn btn-outline-success mx-auto btn-block btn-sm" value={{id}} name="articleID">Xem</button>
                                            </form>
                                        </td>
                                    </tr>
                                {{/each}}                            

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>