<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {{{_sections.headscript}}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Online Newspaper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!--
    <link rel="manifest" href="/favicons/manifest.json"> --}}
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/css/ticker-style.css">
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="/css/slicknav.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/nice-select.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        #navbar {
            background-color: white;
        }

        .sticky~content {
            padding-top: 60px;
        }

        .main-header .main-menu ul li a {
            padding: 1rem;
        }

        .header-mid {
            padding-left: 5rem !important;
            padding-right: 5rem !important;
        }

        .header-mid a {
            color: white;
        }

        .header-mid button:hover {
            background-color: #014287 !important;
        }

        .header-mid button:hover a {
            text-decoration: none;
        }

        .my-navbar {}
    </style>
    {{{_sections.css}}}
</head>

<body>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-mid">
                    <div class="row">
                        <div class="col-8">
                            <a href="/"><img src="/img/logo/logo.png" alt=""></a>
                        </div>
                        <div class="col-4 d-flex justify-content-end py-1">
                           
                            
                            {{#if currentUser}}
                            <button type="button" class="btn btn-primary active btn-sm mr-1">
                                <a href="/user/subscribe">Subcribe</a>
                            </button>
                            <nav class="navbar navbar-expand-lg navbar-light  bg-transparent">                         
                                                                
                                    <ul class="navbar-nav">                                        
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                    Chào, {{currentUser.name}}
                                            </a>
                                            <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item text-dark" href="/user/userInfo">
                                                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                                                Thông tin cá nhân</a>
                                                {{#if isAdmin}}
                                                <a class="dropdown-item text-dark" href="/admin">
                                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                                Dashboard</a>
                                                {{/if}}
                                                {{#if isEditor}}
                                                <a class="dropdown-item text-dark" href="/editorAssignedCat">
                                                <i class="fa fa-archive" aria-hidden="true"></i>
                                                Quản lý bài viết</a>
                                                {{/if}}
                                                {{#if isWriter}}
                                                <a class="dropdown-item text-dark" href="/writer">
                                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                                Bài viết của tôi</a>
                                                {{/if}}

                                                <a class="dropdown-item text-dark" href="/user/logout">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                Đăng xuất</a>
                                            </div>
                                        </li>
                                    </ul>
                               
                            </nav>
                            
                            {{else}}
                            <button type="button" class="btn btn-primary active btn-sm mr-1">
                                <a href="/user/register">Sign Up</a>
                            </button>
                            <button type="button" class="btn btn-primary active btn-sm">
                                <a href="/user/sign_in">Sign In</a>
                            </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky" id="navbar">
                    <div class="container mx-0 px-0 mw-100">
                        <div class="row align-items-center">
                            <div class="col-xl-12 header-flex">
                                <div class="main-menu d-none d-md-block">
                                    <nav>
                                        <ul id="navigation" class="d-inline-block w-100">
                                            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                                            {{#each lcMainCategories as |mainCat|}}
                                            <li><a href="/categories/{{id}}">{{title}}</a>
                                                <ul class="submenu">
                                                    {{#each mainCat.subCat}}
                                                    <li><a href="/categories/{{id}}">{{title}}</a></li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                            {{/each}}
                                            <li style="margin-top: 14px; margin-right: 1rem; float:right;">
                                                <div class="header-right-btn d-inline-block mr-auto">
                                                    <i class="fas fa-search special-tag search-icon"></i>
                                                    <div class="search-box" style="z-index: 1000;">
                                                        <form action="#" id="searchForm">
                                                            <input type="text" placeholder="Search" id="queryInput">
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="col-xl-12 d-flex justify-content-end pb-2 px-5 mr-5">
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <i class="fas fa-search special-tag"></i>
                                <div class="search-box">
                                    <form action="#" id="searchForm">
                                        <input type="text" placeholder="Search" id="queryInput">
                                    </form>
                                </div>
                            </div>
                        </div> --}}
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-md-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding fix">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8">
                        <div class="single-footer-caption mt-60">
                            <div class="footer-tittle">
                                <!-- logo -->
                                <h4>Contact</h4>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Trần Quang Huy - 18120183 <br> Trần Thanh Quang - 18120230 <br> Nguyễn Hoàng
                                            Thái Dương -
                                            18120336</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6">
                        <div class="single-footer-caption mt-60">
                            <div class="footer-tittle">
                                 <a href="/"><img src="/img/logo/logo.png" alt=""></a>
                                <p class="mt-2"> Báo ít người đọc nhất Việt Nam</p>
                                <!-- Form -->
                                    <p>Đường dây nóng: 999-999-999</p>
                                
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50 mt-60">
                            <div class="footer-tittle">
                                <h4>Instagram Feed</h4>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li>
                                        <a href="#"><img src="/img/post/instra1.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="/img/post/instra2.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="/img/post/instra3.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="/img/post/instra4.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="/img/post/instra5.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="/img/post/instra6.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script> All rights reserved | This template is made by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-menu f-right">
                                <ul>
                                    <li><a href="#">Terms of use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script type="text/js" src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script type="text/js" src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script type="text/js" src="/js/popper.min.js"></script>
    <script type="text/js" src="/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script type="text/js" src="/js/jquery.slicknav.min.js"></script>
    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script type="text/js" src="/js/owl.carousel.min.js"></script>
    <script type="text/js" src="/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script type="text/js" src="/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script type="text/js" src="/js/wow.min.js"></script>
    <script type="text/js" src="/js/animated.headline.js"></script>
    <script type="text/js" src="/js/jquery.magnific-popup.js"></script>
    <!-- Breaking New Pluging -->
    <script type="text/js" src="/js/jquery.ticker.js"></script>
    <script type="text/js" src="/js/site.js"></script>
    <!-- Scrollup, nice-select, sticky -->
    <script type="text/js" src="/js/jquery.scrollUp.min.js"></script>
    <script type="text/js" src="/js/jquery.nice-select.min.js"></script>
    <script type="text/js" src="/js/jquery.sticky.js"></script>
    <!-- contact js -->
    <script type="text/js" src="/js/contact.js"></script>
    <script type="text/js" src="/js/jquery.form.js"></script>
    <script type="text/js" src="/js/jquery.validate.min.js"></script>
    <script type="text/js" src="/js/mail-script.js"></script>
    <script type="text/js" src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <!-- Jquery Plugins, main Jquery -->
    <script type="text/js" src="/js/plugins.js"></script>
    <script type="text/js" src="/js/main.js"></script>
    <script>
        window.onscroll = function () { myFunction() };
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop + 80;
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
        $('#searchForm').on('submit', (e) => {
            e.preventDefault();
            const keyword = $('#queryInput').val();
            window.location = `/search?keyword=${keyword}`
        })
    </script>
    {{{_sections.js}}}
</body>

</html>